@font-face {
  font-family: 'GibsonRegular';
  src: url("../font/proximanova-regular.ttf") format("truetype"), url("../font/proximanova-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font: normal 100%/1em "GibsonRegular", sans-serif; }

a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  a:hover {
    cursor: pointer; }

.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.cf {
  *zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }
